@use "../../styles/colors";

.container {
  width: 100%;
  min-width: 800px;
  max-width: 1600px;
  padding: 0;
  margin: auto;
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;

  border: none;
}

.card {
  border-radius: 0 0 4px;
  border: none;
}

.grey {
  background-color: colors.$background-grey;
}
