@use "../../../styles/colors";

.title-button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.description {
  height: 100%;
  border: none;
}

.details-box {
  max-width: 500px;
}

.row-width {
  width: 18px;
}

.section-card {
  min-width: 800px;
  max-width: 1600px;

  margin: auto;
  margin-bottom: 2rem;
}

.padding {
  margin-left: 24px;
  margin-right: 48px;
}

.card-content {
  padding: 24px;
}
