@use '../../styles/colors';

.close {
  float: right;
}

.title {
  border-bottom: 1px solid colors.$gray;
}

.content {
  padding-top: 30px !important;
}

.actions {
  border-top: 1px solid colors.$gray;
}
