.card {
  margin: auto;
  margin-bottom: 2rem;

  min-width: 800px;
  max-width: 1600px;
}

.padding {
  padding-left: 24px;
  padding-right: 24px;
}

.value {
  white-space: pre-wrap;
  word-break: break-word;
}
